class Twilio_Secrets:
    def __init__(self):
        self.account_sid = "[YourAccountSid]"
        self.auth_token = "[YourAuthToken]"


class Proxy_Secrets:
    def __init__(self):
        self.user_name = "proxy_username"
        self.password = "proxy_password"